* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 800px;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #770078;
    font-family: 'poppins';
}

/* Navbar */

.navbar1 {
    font-family: 'poppins';
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar1 .navbar1-nav a {
    color: #770078;
    display: inline-block;
    font-size: 1.7rem;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 15px 2px 15px;
    border-radius: 12px;
}

.navbar1 .navbar1-nav a:hover {
    color: #ffffff;
    transition: 0.6s ease-in-out;
    background-color: #770078;
    padding: 2px 15px 2px 15px;
    border-radius: 12px;
}

/* Footer */

.footer {
    font-family: 'poppins';
    margin-top: auto;
    width: 100%;
    padding: 70px 30px 20px;
    text-align: center;
    background: #770078;
    color: #ffffff;
    height: 280px;
}

.socialIcons {
    margin-top: 2em;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: #ffcb01;
    opacity: 0.9;
}

.socialIcons a i:hover {
    color: #ffffff;
    transition: 0.5s;
}

.watermark {
    margin-top: 2em;
}

.watermark i {
    color: #ffffff;
    font-size: 11px;
}

/* section */

.ph {
    font-family: 'poppins';
    flex-grow: 1;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section .card {
    display: flex;
    position: absolute;
    max-width: max-content;
}

section .card th {
    padding: 20px;
}

section .card td {
    padding: 10px;
}

section .card tr {
    padding: 30px;
}